effdet==0.4.1
google-cloud-vision==3.10.1
grpcio-status==1.72.0rc1
ipykernel==6.29.4
lancedb==0.22.0
langchain==0.3.25
langchain-community==0.3.23
langchain-core==0.3.58
langchain-huggingface==0.1.2
langchain-openai==0.3.16
langchain-text-splitters==0.3.8
langdetect==1.0.9
openai==1.77.0
pdf2image==1.17.0
pi_heif==0.22.0
pikepdf==9.7.0
textblob==0.15.3
transformers==4.51.3
unstructured==0.17.2
unstructured-client==0.34.0
unstructured-inference==0.8.10
unstructured.pytesseract==0.3.15

